@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
}

.hero{
    background-color: #23424A;
    color: white;
    padding: 100px 0;
    
}

.container{
    max-width: 90%;
}
.hero__text{
    max-width: 50%;
}

.hero__img {
    align-self: flex-start;
}
.hero__img img {
    max-width: 270px;
}

.container h1 {
    font-size: 3rem;
    font-weight: bold; 
    padding-bottom: .33em;
}
.container p {
    font-size: 1.31rem;
    font-weight: 500;
}
.container button {
    background-color: #38CFD9;
    border: none;
    padding: 1em 2.5em;
    border-radius: 2rem;
    font-weight: bold;
    font-size: 1.31rem;
    margin: 2em 0;
    color: #23424A;
}
.container button:hover {
    background-color: #136C72;
    color: white;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.col {
    width: 100%;
    text-align: center;
    min-width: 360px;
}

.col + .col {
    margin-left: 2rem;
}

.three-col h2 {
    color: #87629A;
    font-size: xx-large;
    margin-bottom: .5em; 
}

.two-col {
    padding: 1rem; 
}

.two-col h2 {
    font-size: xx-large;
    margin-bottom: .5em; 
}

main {
    padding: 2rem 0;
}

.main{
    max-width: 50%;
}

.main h2, .main p {
    margin-bottom: 1rem
}
.greenHeader{
    color: #136C72; 
    font-size: xx-large;
}
.main p {
    font-size: large;
    color: rgb(82, 82, 82);
}

.aside{
    background-color: #136C72;
    color: white; 
    padding: 3rem;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aside .col {
    margin: 1rem; 
    padding: 1rem; 
}
.aside .col h2 {
    margin-bottom: .5rem;
}

.nav {
    background-color: #136C72;
}
.nav__list {
    margin:0;
    padding: 0; 
    width: 100%;
    background-color: #136C72;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: flex-end;
}
.nav__logo {
    align-self: flex-start;
    background-color: palevioletred;
    border-radius: 100px;
    padding: .5rem 2rem; 
}
.nav__link--button {
    background-color: white;
    border-radius: 100px;
    padding: .5rem 2rem; 
    color: black; 
}




.nav__item {
    margin: 1rem; 
  
}
.nav__link{
    color: white; 
    text-decoration: none;
    text-transform: uppercase;
}







